<div>
	<form action="creer_film" method "post">
		{% for films in allfilms %}
			<p>{{films.get_title}}
				({{films.get_annee}})<br><br>
				<img src={{films.get_affiche}}>
			</p>
		{% endfor %}
	</form>
</div>
