<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>MVC with Twig</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="view/web/css/base.css" media="screen"/>
		<link
		rel="shortcut icon" href="view/web/img/favicon.ico"/>
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="" style="color:#ffffff;">Médiathèque</a>
					<button class=" navbar-toggler" type=" button" data-bs-toggle=" collapse" data-bs-target=" #navbarNav" aria-controls=" navbarNav" aria-expanded=" false" aria-label=" toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<form method="POST">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="film" name="film" style="color:#ffffff;">Film</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="creer_film" name="creation" style="color:#ffffff;">Création</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="user" name="compte" style="color:#ffffff;">Compte</a>
								</li>

							</ul>

						</form>
					</div>
					<div class="d-flex flex-row-reverse">
						<a href="" value={{""}}>utilisateur</a>
					</div>
				</div>
			</nav>
		</header>
<<<<<<< HEAD
		<main>
			<h1>Rechercher un Film</h1>
			<div>
				<p>Saisir un mot du titre</p>
			</div>
			<nav class="navbar navbar-light bg-light">
				<form action='film' method='POST'>
					<input name='search' type=" search" placeholder=" Search" aria-label=" search">
					<input type="submit" name='Rechercher' value='Rechercher'></nav>

				<h1 class="col-3 mt-5 mb-5 m-auto">Connexion</h1>
				<form action="user" method="POST">
					<div class="col-3 text-center mb-3 m-auto">
						<label for="exampleInputEmail1" class="form-label">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" name="mail" value="{{user.get_email}}">
					</div>
					<div class="col-3 text-center mb-3 m-auto">
						<label for="exampleInputPassword1" class="form-label">Password</label>
						<input type="password" class="form-control" name="pass" value="{{user.get_password}}">
					</div>
					<div class="col-3 m-auto mb-2">
						<input type="checkbox" name="remember">
						Remember me</input>
				</div>
				<div class="col-3 m-auto">
					<button type="submit" class="btn btn-primary" name="form1">Connexion</button>
					<a href="#">
						Créer un compte</a>
				</div>
			</body>
		</body>
=======
>>>>>>> df9e7c6822215719270ee55c7419deaddde1917c
	</body>
</html>
