<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="view/web/img/favicon.ico"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
		<title>Médiathèque</title>
	</head>
	<body>
		<header>
			<form action="" method="post">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

					<div class="container-fluid">
						<a class="navbar-brand " href="film">Médiathèque</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarText">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="film">Films</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="creer_film" style="color: #ffffff">Création</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="user" style="color: #ffffff">Compte</a>
								</li>
							</ul>
							<div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavDarkDropdown">
								<ul class="navbar-nav">
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff">
											{{username}}
										</a>
										<ul class="dropdown-menu dropdown-menu-dark">
											<li>
												<button type="submit" class="dropdown-item" href="user" name="logout" style="color: #ffffff">Déconnexion</button>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</form>
		</header>
	</body>
</html>
